# Ignore environment variables
.env
*.env

# Ignore __pycache__ und Migrations
__pycache__/
*.py[cod]
*.sqlite3
*.log

# VS Code
.vscode/# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenvs
env/
.venv/

# Local config / secrets
.env

# Runtime artifacts 
media/
static/
tmp-mails/
